# for Wi-Fi only models
on property:ro.radio.noril=yes
    stop ril-daemon

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system readproc
    onrestart restart cpboot-daemon

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log vpn system readproc
    disabled
    onrestart restart cpboot-daemon


on property:persist.sys.cpboot=disable
    stop ril-daemon
    stop cpboot-daemon

# start multiple rilds based on multisim property
on property:ro.multisim.simslotcount=2
    stop ril-daemon
    start ril-daemon
    start ril-daemon1

